# automate android build
version: 2
jobs:
  node:
    working_directory: ~/demo-react-native
    docker:
      - image: circleci/node:8
    steps:
      - checkout

      - restore_cache:
          key: yarn-v1-{{ checksum "yarn.lock" }}-{{ arch }}

      - restore_cache:
          key: node-v1-{{ checksum "package.json" }}-{{ arch }}

      - run: yarn install

      - save_cache:
          key: yarn-v1-{{ checksum "yarn.lock" }}-{{ arch }}
          paths:
            - ~/.cache/yarn

      - save_cache:
          key: node-v1-{{ checksum "package.json" }}-{{ arch }}
          paths:
            - node_modules

      - run:
          name: jest tests
          command: |
            mkdir -p test-results/jest
            yarn run test
          environment:
            JEST_JUNIT_OUTPUT: test-results/jest/junit.xml

      - persist_to_workspace:
          root: ~/demo-react-native
          paths:
            - node_modules

      - store_test_results:
          path: test-results

      - store_artifacts:
          path: test-results
  
  bundle-debug:
    working_directory: ~/demo-react-native
    docker:
      - image: circleci/node:8
    steps:
      - checkout:
          path: ~/demo-react-native

      - attach_workspace:
          at: ~/demo-react-native

      - run: npx react-native bundle --platform android --dev false --entry-file index.js --bundle-output android/app/src/main/assets/index.android.bundle --assets-dest android/app/src/main/res
      
      - save_cache:
          key: android-bundle-v1
          paths:
            - android/app/src/main/assets/index.android.bundle
  
      - persist_to_workspace:
          root: ~/demo-react-native
          paths:
            - android/app/src/main/assets/index.android.bundle
  
  build-debug-android:
    working_directory: ~/demo-react-native
    docker:
      - image: circleci/android:api-23-node

    environment:
      JVM_OPTS: -Xmx3200m
    steps:
      - checkout:
          path: ~/demo-react-native  

      - attach_workspace:
          at: ~/demo-react-native

      - restore_cache:
          key: jars-{{ checksum "android/build.gradle" }}-{{ checksum  "android/app/build.gradle" }}
      - run:
          name: Chmod permissions
          command: chmod +x gradlew
      - run:
          name: Download Dependencies
          command: |
            cd android
            ./gradlew androidDependencies

      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "android/build.gradle" }}-{{ checksum  "android/app/build.gradle" }}

      - store_artifacts:
          path: android/app/build/reports
          destination: reports

      - store_test_results:
          path: android/app/build/test-results

      - run:
          name: Build debug app
          command: |
            cd android
            ./gradlew assembleDebug

      - store_artifacts:
          path: android/app/build/outputs/apk/development
          destination: apks/

workflows:
  version: 2
  node-android:
    jobs:
      - node
      - bundle-debug:
          requires:
            - node
      - build-debug-android:
          requires:
            - bundle-debug